{
    // "presets": [
    //   ["es2015", { "modules": false }],
    //   "react"
    // ],
    "presets": ["@babel/env", "@babel/react"],
    "plugins": [
        "react-hot-loader/babel"
      ]
  }